
body {
    font-weight: 300;
    padding-top: 70px;
    font-family: 'Helvetica Neue', 'Source Sans Pro', 'Open Sans',Helvetica,Arial,sans-serif;
}

.description {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 21px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.principle-container {
	background-color: #2208724a;
	padding: 20px;
}

.building-features-container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.building-features-container .section-title {
	background-color: #44ae5b;
}

.section-title {
	background-color: #007bff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: white;
}

.principle {
	padding-bottom: 10px;
	font-size: 18px;
}

.principle .header {
	font-size: 21px;
}

.building-blocks {
	padding-left: 10px;
}

.building-blocks .block-row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.building-blocks button {
	font-size: 18px;
	background-color: #e1ecff;
	cursor: pointer;
    border-style: none;
    border-radius: 0.4rem;
    padding: 5px 10px 5px 10px;
}

.building-blocks button:hover {
	background-color: #4081f1;
	color: white;
}
.building-blocks .block-definition {
	font-size: 16px;
}

.table {
	margin-top: 30px;
}

.team{
	margin-top: 30px;
	background-color: #f7f6f1; 
	color: black; 
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}

#sign {
    text-align: center;
}

